pkgbase = void-tools
	pkgdesc = Some not Void specific tools from void-runit
	pkgver = 20250212
	pkgrel = 1
	url = https://github.com/void-linux/void-runit
	arch = x86_64
	license = custom: public domain
	license = custom: CC0
	source = void-tools-20250212.tar.gz::https://github.com/void-linux/void-runit/archive/20250212.tar.gz
	sha256sums = c0d3ecea4dae5bba8ca3e563706847ef3b6cbdfcc19b8bf69b3f7a9bc0451f50

pkgname = void-tools
