pkgbase = void-tools
	pkgdesc = Some not Void specific tools from void-runit
	pkgver = 20231124
	pkgrel = 1
	url = https://github.com/void-linux/void-runit
	arch = x86_64
	license = custom: public domain
	license = custom: CC0
	source = void-tools-20231124.tar.gz::https://github.com/void-linux/void-runit/archive/20231124.tar.gz
	sha256sums = 2bdb86a08ee0ee70d1a189ebbf9e60157f847e8c8f75caedc009536ca794a77c

pkgname = void-tools
