pkgbase = xbps-static-bin
	pkgdesc = The X Binary Package System (XBPS) -- Static Binaries
	pkgver = 0.60.4_1
	pkgrel = 1
	url = https://github.com/void-linux/xbps
	arch = aarch64
	arch = armv6h
	arch = x86_64
	arch = armv7h
	license = custom: BSD-2-Clause
	license = custom: BSD
	provides = xbps-static
	provides = xbps
	conflicts = xbps-static
	conflicts = xbps
	conflicts = xbps-git
	noextract = xbps-static-static-0.60.4_1.aarch64-musl.tar.xz
	noextract = xbps-static-static-0.60.4_1.armv6l-musl.tar.xz
	noextract = xbps-static-static-0.60.4_1.x86_64-musl.tar.xz
	noextract = xbps-static-static-0.60.4_1.armv7l-musl.tar.xz
	source_aarch64 = https://repo-fastly.voidlinux.org/static/xbps-static-static-0.60.4_1.aarch64-musl.tar.xz
	sha256sums_aarch64 = debe5c2b9ed783331e655eca44785749eefb2f2c38e08de5112f9b5473bd6ee5
	source_armv6h = https://repo-fastly.voidlinux.org/static/xbps-static-static-0.60.4_1.armv6l-musl.tar.xz
	sha256sums_armv6h = de77965239b710beec437ca1a51e9d7c01d5135bbb012999b0ff6689a2bfaa59
	source_x86_64 = https://repo-fastly.voidlinux.org/static/xbps-static-static-0.60.4_1.x86_64-musl.tar.xz
	sha256sums_x86_64 = 603b3c55e9cabd5af79b461b929b14e1556a443c97b5714d188681c2172d9e28
	source_armv7h = https://repo-fastly.voidlinux.org/static/xbps-static-static-0.60.4_1.armv7l-musl.tar.xz
	sha256sums_armv7h = c16b314b05935f31071b81c78192530422e3d18ec863095f611e0de61a0b60ff

pkgname = xbps-static-bin
