pkgbase = ff2mpv-rust
	pkgdesc = Native messaging host for ff2mpv written in Rust
	pkgver = 1.1.6
	pkgrel = 2
	url = https://github.com/ryze312/ff2mpv-rust
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = cargo
	optdepends = mpv: open links in mpv
	optdepends = cachy-browser: supported browser
	optdepends = chromium: supported browser
	optdepends = firefox: supported browser
	optdepends = firefox-developer-edition: supported browser
	optdepends = google-chrome: supported browser
	optdepends = librewolf: supported browser
	optdepends = microsoft-edge: supported browser
	optdepends = vivaldi: supported browser
	provides = ff2mpv-native-messaging-host-git
	provides = ff2mpv-native-messaging-host-librewolf-git
	conflicts = ff2mpv-native-messaging-host-git
	conflicts = ff2mpv-native-messaging-host-librewolf-git
	source = https://github.com/ryze312/ff2mpv-rust/archive/refs/tags/1.1.6.tar.gz
	sha256sums = a94121951c2dc90257636135b716532c8347ff5184fdd0153487fb404ff120a2

pkgname = ff2mpv-rust
