pkgbase = quiche
	pkgdesc = an implementation of the QUIC transport protocol and HTTP/3 as specified by the IETF
	pkgver = 0.12.0
	pkgrel = 1
	url = https://github.com/cloudflare/quiche
	arch = x86_64
	license = custom:BSD
	makedepends = cmake
	makedepends = git
	makedepends = go
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = git+https://github.com/cloudflare/quiche?tag=0.12.0
	source = git+https://github.com/google/boringssl?commit=f1c75347daa2ea81a941e953f2263e0a4d970c8d
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = quiche
