pkgbase = gccgo
	pkgdesc = Go front-end for GCC
	pkgver = 12.1.0
	pkgrel = 2
	url = https://gcc.gnu.org
	arch = x86_64
	license = GPL
	depends = gcc
	conflicts = gcc-go
	noextract = gcc-go.tar.zst
	options = !strip
	source_x86_64 = gcc-go.tar.zst::https://archlinux.org/packages/core/x86_64/gcc-go/download
	sha256sums_x86_64 = SKIP

pkgname = gccgo
