pkgbase = koreader-bin
	pkgdesc = Ebook reader application supporting PDF, DjVu, EPUB, FB2 and many more formats
	pkgver = 2024.03.1
	pkgrel = 2
	url = https://koreader.rocks
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = AGPL-3.0-or-later
	depends = sdl2
	depends = noto-fonts
	depends = ttf-droid
	provides = koreader
	conflicts = koreader
	source = https://github.com/koreader/koreader-fonts/raw/046976988aa33639d60d6ffd25c7a0ff50b72ac0/noto/NotoSansArabicUI-Regular.ttf
	source = https://github.com/koreader/koreader-fonts/raw/046976988aa33639d60d6ffd25c7a0ff50b72ac0/noto/NotoSansArabicUI-Bold.ttf
	sha256sums = 409e307217626e94a5ad3eb71b86ba19a4ef096c2e3699083a5e6b008a5ae9a3
	sha256sums = 905ffee4bbe954d3fd725ed4f2c161dd2f6d2e304d2c725c1e0b8022194de3b9
	source_x86_64 = https://github.com/koreader/koreader/releases/download/v2024.03.1/koreader-2024.03.1-amd64.deb
	sha256sums_x86_64 = 119de2aa9d00d81670237e379efbe9ef5446431e853deb14072e0b85ae18cf85
	source_aarch64 = https://github.com/koreader/koreader/releases/download/v2024.03.1/koreader-2024.03.1-arm64.deb
	sha256sums_aarch64 = f41bbe9967c9b8f687e6757bd4932b7068a989959f71fd7d29f55ab825bddbe2
	source_armv7h = https://github.com/koreader/koreader/releases/download/v2024.03.1/koreader-2024.03.1-armhf.deb
	sha256sums_armv7h = 861b0c35f6628c7d24700ade66a18a4f05e2bae00159d4d1dd3af19163c7eca1

pkgname = koreader-bin
