pkgbase = koreader-bin
	pkgdesc = Ebook reader application supporting PDF, DjVu, EPUB, FB2 and many more formats
	pkgver = 2026.07
	pkgrel = 1
	epoch = 1
	url = https://koreader.rocks
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = AGPL-3.0-or-later
	depends = sdl2
	provides = koreader
	conflicts = koreader
	source_x86_64 = https://github.com/koreader/koreader/releases/download/v2026.07/koreader-linux-x86_64-v2026.07.tar.xz
	sha256sums_x86_64 = 3b1b8d6cce6e53ed0062a7a6a2e58c4f28e8cfe04a429ff79fe690bdcbc6b386
	source_aarch64 = https://github.com/koreader/koreader/releases/download/v2026.07/koreader-linux-arm64-v2026.07.tar.xz
	sha256sums_aarch64 = d73cf5578487e3efd615f5e606bf53b5f8c6284825da4a931e544c4bd2cac2bd
	source_armv7h = https://github.com/koreader/koreader/releases/download/v2026.07/koreader-linux-armhf-v2026.07.tar.xz
	sha256sums_armv7h = e1a2ae674da8f929636d3b81ead05fa279298af1c02b78e8650c7a56e57ac03a

pkgname = koreader-bin
